$primary: #62a87c;
$primary-contrast: #000000;
$secondary: hsl(210, 8%, 95%);
$tertiary: hsl(210, 8%, 90%);
$quaternary: hsl(210, 8%, 85%);

$primary-text: #000000;
$tertiary-text: #5f5f5f;
$secondary-text: hsl(0, 0%, 23%);
@mixin hex-to-rgb($color) {
    // Remove # from the hex code if present
    $color: str-slice($color, 2);

    // Extract individual color channels
    $red: to-number(str-slice($color, 1, 2), 16);
    $green: to-number(str-slice($color, 3, 4), 16);
    $blue: to-number(str-slice($color, 5), 16);

    // Output the RGB values
    $rgb-values: $red, $green, $blue;
}
